@use '../../styles/partials/call-to-actions' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/form-fields' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/layout-grid' as *;
@use '../../styles/partials/type-kit' as *;

body {
    background-color: $light-grey;
}


.warehousepage-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    @include mobile-h1;
    font-size: 1.6rem;
    @include tablet-breakpoint {
        @include tablet-h1;
        margin-left: 30px;
        padding-top: 25px;
        @include desktop-breakpoint {
            margin-left: 40px;
        }
    }
        &__arrow {
            margin-right: 5px;
            margin-top: 11px;
    }
}

.warehouse-wrapper {
    @include tablet-breakpoint {
        border-top: 1px solid $cloud;
        padding-top: 25px;
        @include desktop-breakpoint {
            padding-bottom: 0px;
            padding-top: 15px;
        }
    }
}

.warehouseabsolute-wrapper {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    margin: -95px 10px;
    @include tablet-breakpoint {
        margin: -119px 30px;
        @include desktop-breakpoint {
          margin: -119px 130px;
        }
    }
}

.form-wrapper {
    @include tablet-breakpoint {
        display: flex;
        flex-direction: column;
    }
}

.warehouse-wrapper__form {
    @include tablet-breakpoint {
        display: flex;
    }
}

.warehouse-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    border-top: 1px solid $cloud;
    @include tablet-breakpoint {
        border-top: none;
        width: 50%;
        border-right: 1px solid $cloud;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0;
    }
    &__title {
        @include mobile-h2;
        margin-bottom: 20px;
        @include tablet-breakpoint {
            @include tablet-h2;
            margin-top: 10px;
            @include desktop-breakpoint {
                margin-bottom: 30px;
            }
        }
    }
}

.warehouseform-title {
    @include mobile-h3;
    margin-top: 20px;
    @include tablet-breakpoint {
        @include tablet-h3;
        margin-top: 20px;
        @include desktop-breakpoint {
            margin-top: 40px;
        }
    }
}

.warehouseform-input {
    @include form-field;
    @include mobile-p2;
}

.contact-container {
    margin-top:25px;
    padding: 15px 20px 25px 20px;
    border-top: 1px solid $cloud;
    @include tablet-breakpoint {
        margin-top: 0;
        padding-bottom: 0;
        border-top: none;
        width:50%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0;
    }
    &__title {
        @include mobile-h2;
        margin-bottom: 20px;
        @include tablet-breakpoint {
            @include tablet-h2;
            margin-top:10px;
            @include desktop-breakpoint {
                margin-bottom: 30px;
            }
            
        }
    }
}

.contactform-title {
    @include mobile-h3;
    margin-top: 15px;
    @include tablet-breakpoint {
        margin-top: 20px;
        @include tablet-h3;
        @include desktop-breakpoint {
            margin-top: 40px;
        }
    }
}

.contactform-input {
    @include form-field;
    @include mobile-p2;
    @include tablet-breakpoint {
        @include tablet-p2;
    }
}

.warehousebutton-container {
    display: flex;
    justify-content: space-between;
    background-color: $light-grey;
    padding: 15px 13px;
    @include tablet-breakpoint {
        padding-right: 2rem;
        margin-top: 2rem;
        justify-content: flex-end;
    }
    &__cancel {
        border: 1px solid $cloud;
        border-radius: 20px;
        padding: 8px 48px;
        background-color: $white;
        color: $graphite;
        font-family: $titillium-web;
        margin-right: 10px;
        &:hover {
            border: 1px solid $instock-indigo;
            color: $instock-indigo;
        }
        @include tablet-breakpoint {
        padding: 8px 16px;
        }
    }
}

.warehousebutton-container__add {
    border: 1px solid $instock-indigo;
    border-radius: 20px;
    background-color: $instock-indigo;
    color: $white;
    font-family: $titillium-web;
    font-size: 0.8rem;
    padding: 8px 17px;
    position: relative;
    &:hover {
        background-color: $graphite;
    }
        &__plusicon {
            position: absolute;
            top: 14px;
            left: 5px;
            width: 11px;
            @include tablet-breakpoint {
                left: 5px;
            }
            @include desktop-breakpoint {
                left: 3px;
            }
        }
    @include tablet-breakpoint {
        padding: 8px 18px;
    }    
}